/* SideBar */
.sidebar .nav-link {
  display: inline-block !important;
}
.sidebar .active .nav-link {
  color: #007bff;
}
.sidebar .active .nav-link .feather {
  color: inherit;
}

/* Repair-User view tables*/
.Edit-Delete{
  text-align: center;
}
.first-select-label{
  display:none;
}
tr{
  transition: 0.4s ease;
}
tr:hover {
  background: rgba(189, 248, 251, 0.3) !important;
}
thead tr:hover{
  background: white !important;
}

/* Dynamic Loading Elements*/
.Dynamic-Load{
  transition:0.8s ease;
}

th, td {
  text-align: center;
}

.error{
  color: red;
}

select{
  color: initial !important;
}


/* Login Page*/
.LoginLogoDiv{
    position: relative;
    width: 100%;
    height: 250px;
}
.login-logo{
    width: 250px;
    position: absolute;
    height: 250px;
    transition: 1s ease-out;
    opacity: 0;
    top: -300px;
    left: calc(50% - 125px);
}

.animate-logo {
    opacity: 1;
    top: 0px;
}